#!/usr/bin/bash

# Which port to use for rsync
port=2222

# Which user to use for rsync
user=zeldah

# Which ip to rsync to
ip=192.168.1.70



# declare an array variable containing label structure folders
# You can access them using echo "${arr[0]}", "${arr[1]}" also
#declare -ga labelFolders=("completed/" "download/" "movies/" "ovrigt/" "tv/" "watched/")
declare -ga labelFolders=("ovrigt/")

# Directory location for downloaded files
dir_files=/cygdrive/e/hdd/shares/torrents/

# Default target folder. Adds to path in code.
files_def_tar=completed/

# Directory target for downloaded files
files_target_path=hdd1/shares/torrents/



# Directory location for torrent files
dir_torrents=/cygdrive/c/Users/Andreas/AppData/Roaming/deluge/state/*.torrent

# Directory target for torrent files
torrents_target=hdd1/shares/torrents/download/
