#!/usr/bin/bash

# Which port to use for rsync
port=22

# Which user to use for rsync
user=<username>

# Which ip to rsync to
ip=192.168.1.1

# Directory location for downloaded files
dir_files=<path to directory>

# Directory target for downloaded files
files_target=<path to direcotry>

# Directory location for torrent files
dir_torrents=<path to direcotry>

# Directory target for torrent files
torrents_target=<path to directory>
